@import "tailwindcss";

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(40px, -50px) scale(1.15);
  }
  66% {
    transform: translate(-30px, 30px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(90px);
  opacity: 0.25;
  animation: blob 14s ease-in-out infinite;
}
.hero-bg {
  background: linear-gradient(
    270deg,
    #eff6ff,
    #dbeafe,
    #bfdbfe,
    #e0f2fe,
    #eff6ff
  );
  background-size: 400% 400%;
  animation: gradientShift 12s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}

/* scroll */
html {
  scroll-behavior: smooth;
}

body{
  overflow-x:hidden;
}
